# Model Providers
OPENROUTER_API_KEY = 'your api key'
BASE_URL = 'https://openrouter.ai/api/v1'

GOOGLE_API_KEY = 'your api key' #https://aistudio.google.com/api-keys
SERVER = 'localhost'
TEMP_FILES_DIR = '_temp_files'