# Model Providers
OPENAI_API_KEY = 'your api key'
BASE_URL = 'https://openrouter.ai/api/v1' # or https://api.openai.com/v1/models

GOOGLE_API_KEY = 'your api key' #https://aistudio.google.com/api-keys


SERVER = 'localhost'
TEMP_FILES_DIR = '_temp_files'